[submodule "external"]
	path = external
	url = https://gitee.com/openharmony-sig/arkcompiler_ets_frontend
[submodule "webidl2.js"]
	path = webidl2.js
	url = https://gitee.com/nikolay-igotti/webidl2.js
