/.idea/
/.vscode/
/interface_sdk-js/
/build/
/lib/
/core/build/
/libohos/build/
/generated/
/.packages/
/idl/
node_modules
/.rollup.cache/

/package-lock.json
/.npmrc

/arktscgen/.rollup.cache/
/arktscgen/lib/
/arktscgen/out/
/arktscgen/libarkts-copy/
*.tgz
*.rej
*.orig
.DS_Store
