[submodule "external"]
	path = external
	url = https://gitee.com/rri_opensource/koala_projects
[submodule "webidl2.js"]
	path = core/webidl2.js
	url = https://gitee.com/nikolay-igotti/webidl2.js
	branch = main
