/.idea/
/.vscode/
/interface_sdk-js/
/build/
/lib/
/core/build/
/libohos/build/
/generated/
/.packages/
/idl/
node_modules
/.rollup.cache/

/package-lock.json
/.npmrc

/libarkts-gen/.rollup.cache/
/libarkts-gen/lib/
/libarkts-gen/out/
*.rej
*.orig
.DS_Store
