@ohos:registry=https://repo.harmonyos.com/npm/
strict-ssl=false
@azanat:registry=https://nexus.bz-openlab.ru:10443/repository/koala-npm/
@koalaui:registry=https://nexus.bz-openlab.ru:10443/repository/koala-npm/
@panda:registry=https://nexus.bz-openlab.ru:10443/repository/koala-npm/
//nexus.bz-openlab.ru:10443/repository/koala-npm/:_auth=${NEXUS_AUTH_TOKEN}
